* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 20px;
  text-rendering: optimizeLegibility;
}

.row {
  max-width: 1140px;
  margin: 0 auto;
}
/* *********************** */
/* REUSABLE COMPONENTS */
h1,
h2,
h3 {
  font-weight: 300;
  text-transform: uppercase;
}
h1 {
  margin: 20px 0;
  color: #fff;
  font-size: 240%;
  word-spacing: 4px;
  letter-spacing: 1px;
}
h2 {
  font-size: 180%;
  word-spacing: 2px;
  text-align: center;
  margin-bottom: 30px;
  letter-spacing: 1px;
}
h3 {
  font-size: 110%;
  margin-bottom: 15px;
}
h2:after {
  display: block;
  height: 2px;
  background-color: #e67e22;
  content: " ";
  width: 100px;
  margin: 0 auto;
  margin-top: 30px;
}

section {
  padding: 80px 0;
}

/* *********************** */
/* HEADER AND NAV */
header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(img/headerbackground.jpg);
  height: 35vh;
  /* background-size: cover; */
  /* background-position: center; */
  background-attachment: fixed;
}
.header-text-box {
  position: absolute;
  width: 1140px;
  top: 20%;
  left: 63%;
  transform: translate(-50%, -50%);
}

.main-nav {
  float: right;
  list-style-type: none;
  margin-right: -30%;
}

.main-nav li {
  display: inline-block;
  margin-left: 40px;
  margin-top: 25px;
}

.main-nav li a {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 90%;
  padding: 8px 0;
  /* border-bottom: 2px solid transparent; */
  transition: border-bottom 0.2s;
}
.main-nav li a:hover,
.main-nav li a:active,
footer li a:active,
footer li a:hover,
.activeTab {
  border-bottom: 2px solid #e67e22;
}
.site-howto {
  padding-bottom: 90px;
  transition: display 0.2s;
}
/* *********************** */
/* GET TO KNOW SECTION */

.get-to-know {
  /* background-color: #f3f3f3; */
  color: #fff;
  height: auto;
  background-image: linear-gradient(rgba(0, 0, 0, 0.829), rgba(0, 0, 0, 0.829)),
    url(img/supportimg.jpg);
  background-attachment: fixed;
  padding-bottom: 40px;
  transition: display 0.2s;
}

.get-to-know h3 {
  margin: 25px 15%;
  font-size: 120%;
}
/* *********************** */
/* IMPORTANT DATES AND INFO*/
.important-dates {
  transition: display 0.2s;
}
.lab-hours {
  margin-top: 30px;
  margin-right: 10px;
  align-content: center;
  width: 100%;
  align-items: center;
}
.lab-hours h3 {
  position: relative;
  display: block;
  text-align: center;
}
.lab-icon {
  position: relative;
  font-size: 300%;
  left: 45%;
  color: #e67e22;
  padding-bottom: 30px;
}
.dates {
  margin-top: 30px;
}
.dates h3 {
  position: relative;
  display: block;
  left: 25%;
}
.calendar-icon {
  position: relative;
  font-size: 300%;
  left: 35%;
  color: #e67e22;
  padding-bottom: 30px;
}
.dates ul {
  display: block;
  list-style: none;
}
.dates ul li p {
  padding-left: 25%;
}

footer {
  background-color: #1b1111;
  /* background-color: #394049f6; */
  width: 100%;
}
footer ul {
  list-style: none;
  width: 100%;
}
footer ul li {
  display: inline-block;
  margin: 20px 0;
}
footer ul li a {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 90%;
  margin: 20px 40px;
  border-bottom: 2px solid transparent;
  transition: border-bottom 0.2s;
}
footer ul li:last-child {
  float: right;
}

footer small {
  color: #fff;
  position: relative;
  bottom: 10px;
}
footer small a {
  color: inherit;
  text-decoration: none;
}

/* *********************** */
/* Tutorials */

.tutorials-videos {
  padding-bottom: 80px;
  background-color: #fff;
  display: flex;
  align-items: center;
}

.tutorials-videos h3 {
  width: 100%;
  padding-bottom: 10px;
  margin-top: 40px;
  text-align: center;
}
.tutorials-videos h3:after {
  display: block;
  height: 2px;
  background-color: #e67e22;
  content: " ";
  width: 20%;
  margin-left: 40%;

  margin-top: 30px;
}
.tutorial-videos p {
  padding-top: 10%;
}
.video-box:after {
  /* padding-bottom: 20px; */
  display: block;
  height: 4px;
  background-color: #568892;
  content: " ";
  margin-left: 25%;
  width: 50%;
}
